name: Unit Tests
on: [pull_request, push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - run: npm ci
    - run: npm run build
    - run: npm test

    - name: Publish Test Report
      uses: mikepenz/action-junit-report@v6
      if: success() || failure() # always run even if the previous step fails
      with:
        report_paths: 'test-reports/junit.xml'

    - name: "check for uncommitted changes"
      run: |
        git diff --exit-code --stat -- . ':!node_modules' || \
        (echo "##[error] found changed files after build. please run 'npm run format && npm run build' and check in all changes." && \
        exit 1)
