name: Unit Tests
on:
  pull_request: {}
  push:
    paths-ignore:
      - 'README.md'

permissions:
  checks: write

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - run: npm ci
    - run: npm run build
    - run: npm test

    - name: Publish Test Report
      uses: mikepenz/action-junit-report@v6
      if: success() || failure() # always run even if the previous step fails
      with:
        report_paths: 'test-reports/junit.xml'
        include_passed: true
        detailed_summary: true
